a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

@media only screen and (max-width: 650px) {
    body {
        width: 100% !important;
        padding: 0 !important;
    }

    .deviceWidth {
        width: 100% !important;
        display: block !important;
        height: auto !important;
        min-width: inherit !important;
    }

    .stack {
        width: 100% !important;
        display: inline-block !important;
    }

    .inline-block {
        display: inline-block !important;
    }

    .fullWidth {
        width: 100% !important;
    }

    .deviceWidth-image {
        width: 100% !important;
        display: block !important;
        height: auto !important;
    }

    .hide {
        display: none !important;
    }

    .padding_LR_30 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .gap {
        width: 15px !important;
    }

    .vx_map {
        width: 100% !important;
        height: auto !important;
    }

    .vx_map iframe {
        width: 100% !important;
    }

    .vx_map div {
        width: 100% !important;
        height: auto !important;
    }

    .vx_video {
        width: 100% !important;
        display: block !important;
        height: auto !important;
    }

    .vx_video div {
        width: 100% !important;
        display: block !important;
        height: auto !important;
    }

    .vx_video iframe {
        width: 100% !important;
    }

    .vx_video a img {
        width: 100% !important;
        height: auto !important;
    }

    form p {
        width: 100% !important;
    }

    .submit input {
        width: 100% !important;
    }

    form [type=text],
    form [type=email],
    form [type=tel],
    form [type=url],
    textarea,
    select {
        width: 97% !important;
    }
}

@media only screen and (max-width: 400px) {
    .imageShrink400 {
        width: 100% !important;
        display: block !important;
        height: auto !important;
    }
}

@media only screen and (max-width: 380px) {
    .imageShrink380 {
        width: 100% !important;
        display: block !important;
        height: auto !important;
    }
}

body {
    margin: 0 !important;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

div,
p,
a,
li,
td {
    -webkit-text-size-adjust: none;
}

.container{
    margin: 50px auto;
    width: fit-content;
}